body {
	margin: 0;
	font-family: sans-serif;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 1rem;
	width: 350px;
	background: #ffffff;
}

.result-row {
	position: relative;
}

.result-copy {
	position: absolute;
	padding: 7px 10px;
	background: #464646;
	color: white;
	top: 9px;
	right: 3px;
	cursor: pointer;
	font-family: consolas;
	border-radius: 25px;
}

.result-copy:hover {
	background: #2a2a2b;
}

.result-copy:active {
	box-shadow: 1px 2px 2px gray;
}

.form-row {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.length-label {
	line-height: 2;
}

#length {
	text-align: center;
	outline: none;
}

#result {
	width: 331px;
	height: 42px;
	outline: none;
	padding-left: 1rem;
	font-size: 16px;
}

button {
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	letter-spacing: 1px;
	background: linear-gradient(45deg, #009688, #3F51B5);
	border: none;
	color: white;
	border-radius: 25px;
	margin-top: 20px;
	outline: none;
	cursor: pointer;
}

button:hover {
	background: linear-gradient(220deg, #009688, #3F51B5);
}

button:active {
	box-shadow: 1px 2px 2px gray;
}

.result-row-flex {
	display: flex;
}